<div>
  <p>
    checkout-shipping works!
  </p>
</div>

<div class="container-fluid row">


  <div class="container col-8 ">
    
    <h1 class="vendorheader" id="menu" style="text-align: center;" >Our products</h1>
      <div class="mdc-card container vendorcard">
        <div class="my-auto scrolling-wrapper">
            <div class="mdc-card pizzacard  prodcard">
                <div class="mdc-card__media mdc-card__media--square">
                  <div class="mdc-card__media-content">Pizza</div>
                </div>


    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
          <button class="mdc-button mdc-card__action mdc-card__action--button  mdc-button--raised"  onclick="pizzaAdder()" id="cartAddition">Add to cart</button>
        </div>
        
      </div>
    </div>
      
    <div class="mdc-card ribcard prodcard">
        <div class="mdc-card__media mdc-card__media--square">
          <div class="mdc-card__media-content">Pork ribs</div>
        </div>
        <!-- ... content ... -->
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="ribsAdder()">Add to cart</button>
          </div>
          
        </div>
      </div>

      <div class="mdc-card burgercard prodcard">
          <div class="mdc-card__media mdc-card__media--square">
            <div class="mdc-card__media-content">Burger</div>
          </div>
          <!-- ... content ... -->
          <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
              <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="burgerAdder()">Add to cart</button>
            </div>
            
          </div>
        </div>
        <div class="mdc-card  tacoscard prodcard">
            <div class="mdc-card__media mdc-card__media--square">
              <div class="mdc-card__media-content">Tacos</div>
            </div>
            <!-- ... content ... -->
            <div class="mdc-card__actions">
              <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="tacosAdder()">Add to cart</button>
              </div>
              
            </div>
          </div>
          <div class="mdc-card tatocard prodcard">
              <div class="mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">Tater toes</div>
              </div>
              <!-- ... content ... -->
              <div class="mdc-card__actions">
                <div class="mdc-card__action-buttons">
                  <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="tatoAdder()">Add to cart</button>
                </div>
                
              </div>
            </div>
            <div class="mdc-card  fdipcard prodcard">
                <div class="mdc-card__media mdc-card__media--square">
                  <div class="mdc-card__media-content">Famous French Dip</div>
                </div>
                <!-- ... content ... -->
                <div class="mdc-card__actions">
                  <div class="mdc-card__action-buttons">
                    <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="fdipAdder()">Add to cart</button>
                  </div>
                  
                </div>
              </div>
              <div class="mdc-card pastacard prodcard">
                  <div class="mdc-card__media mdc-card__media--square">
                    <div class="mdc-card__media-content" style="text-align: center">Chicken Pasta</div>
                  </div>
                  <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                      <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="pastaAdder()">Add to cart</button>
                    </div>
                    
                  </div>
                </div>
            
</div>


  </div>


  
</div>
<div class="container col-3 my-0">
    <mat-card class="example-card">
      
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      
      <mat-card-actions>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>


  </div>
</div>