<div class="container-fluid sticky-top web-navigator themeheader">
    <span class="nav justify-content-center">
            <a class="nav-link" routerLink="/">Rowze Cake House</a>
    </span>
</div>

<div class="card masthead">
    <div class="container blockquote-container my-auto">
        <blockquote>
            Experience Art, Food Made with Love <br> <span>for the Soul</span>
        </blockquote>
    </div>
</div>
<div class="container-fluid row content-container">
    <div class="container-fluid col-12 col-md-12">
        <section *ngFor="let category of categories | async">
            <app-product-category [categoryInput]="category" *ngIf="category.products" class="categories  "></app-product-category>
        </section>
    </div>
    
</div>
<div *ngIf="categories | async">
    <button mat-button routerLink="/products">View All Products</button>
</div>


<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">
  
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Features</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Updates</a></li>
        </ul>
      </div>
  
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Details</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Specs</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>
  
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">Technology</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Patterns</a></li>
          <li><a href="#">Usage</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contracts</a></li>
        </ul>
      </div>
  
      <div class="mdl-mega-footer__drop-down-section">
        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
        <h1 class="mdl-mega-footer__heading">FAQ</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Questions</a></li>
          <li><a href="#">Answers</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
  
    </div>
  
    <div class="mdl-mega-footer__bottom-section">
      <div class="mdl-logo">Title</div>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  
  </footer>