<div class="container-fluid sticky-top web-navigator themeheader">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link " routerLink="/">Rowze Cake House</a>
        </li>
    </ul>
</div>

<div class="card masthead">
    <div class="container blockquote-container my-auto">
        <blockquote>
            Experience Art, Food Made with Love <br> <span>for the Soul</span>
        </blockquote>
    </div>
</div>
<div class="container-fluid row content-container">
    <div class="container-fluid col-8">
        <section *ngFor="let category of categories | async">
            <app-product-category [categoryInput]="category" *ngIf="category.products" class="categories  "></app-product-category>

        </section>
    </div>

    <div class=" container-fluid col-3">
        <h1 class="vendorheader" id="menu" style="text-align: center;">Posts</h1>
        <mat-card class="post-card" *ngFor="let post of posts | async  | search: searchTerm | sort:['-date']"
            routerLink="/blog/{{post.url}}" class="post" itemscope itemtype="http://schema.org/Article">
            <div class="post-content">
                <h3><a routerLink="/blog/{{post.url}}" itemprop="headline">{{post.title}}</a></h3>
                <div class="date" itemprop="datePublished">{{post.date | date }}</div>
                <p>
                    <span [innerHTML]="post.body | truncate: 200 " itemprop="articleBody"></span>
                    <button mat-button routerLink="/blog/{{post.url}}">Read More</button>
                </p>
            </div>
        </mat-card>

    </div>

</div>

<div *ngIf="categories | async">
    <button mat-button routerLink="/products">View All Products</button>
</div>