@import url('https://fonts.googleapis.com/css?family=Calligraffitti');


.masthead{
    height: 450px;
    background-image: url("../../../assets/mck.jpg");
    background-size: cover;
}
.themeheader{
    height: 60px;
    font-size: 35px;
    font-family: 'Calligraffitti', cursive;
    color: rgba(83, 0, 0, 0.828);

}
blockquote{
    font-size: 38px;
    font-weight: 100;
    color: white;
}
.post-card {
    max-width: 300px;
    margin-top: 0; 
    margin-right: 0;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .post-image{
      background-size: cover;
  }