@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import '../../../global.scss';


.masthead{
    height: 450px;
    background-image: url("../../../assets/ck.jpg") ;
    background-size:   center / cover;
}
.themeheader{
    font-size: 35px;
    font-family: 'Calligraffitti', cursive;
}
.web-navigator{
    color: white;
}

.post-card {
    max-width: 300px;
    margin-top: 0; 
    margin-right: 0;
  }
  
  .example-header-image {
    background-size: cover;
  }
  .post-image{
      background-size: cover;
  }

 .quote-container{
     font-size: 30px;
     font-weight: 200px;
     max-width: 300px;
 }