.demo-card-wide > .mdl-card__title {
    height: 326px;
    background: url('../../../assets/ck.jpg') center / cover;
  }
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .demo-card-wide > .mdl-card__supporting-text{
      height: 126px;
  }

  .mdl-card__title-text{
    color: rgba(17, 13, 13, 0.952);
    font-size: 30px;
    font-weight: bold;
    outline-color: white;
  }

  .mdl-card__actions{
      margin: auto;
  }