<p>
  checkout-payment works!
</p>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp mx-auto">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text mx-auto">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <span class="mdl-chip">
            <span class="mdl-chip__text">Basic Chip</span>
        </span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect justify-content-center">
        Get Started
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>