@media (min-width: 576px){
    .mobile-navigator{
display: none;
    }
}

@media (max-width:576px){
    .web-navigator{
        display: none;
    }
}

mat-icon{
    align-content : center;
}
button{
    margin-bottom: 10px;
}