<div class="container">
  <h2>Theme</h2>


  <mat-form-field appearance="outline">
    <mat-label>Site name</mat-label>
    <input matInput [(ngModel)]="siteName" required>
    <mat-icon matPrefix>flare</mat-icon>
    <mat-hint>Be Creative</mat-hint>
  </mat-form-field>

  <button mat-raised-button class="mat-upload-button" onclick="document.getElementById('uploadImage').click()">
    <span *ngIf="!newThumbnail">Upload</span>
    <span *ngIf="newThumbnail">Change</span>
    Featured Image
  </button>
  <input type="file" id="uploadImage" name="thumbnail" class="native-upload" (change)="handleFiles($event)" accept="image/*">
  <img [src]="newThumbnail" *ngIf="newThumbnail" class="thumbnail">
  <div class="no-image" *ngIf="!newThumbnail">No image chosen</div>
  <div (click)="deleteImage()" *ngIf="newThumbnail" class="delete-image">Delete Image</div>

  <button mat-raised-button (click)="saveTheme(siteName)">Save Theme</button>
</div>