@import '../../../global.scss';

.container {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.featured-image {
    max-width: 100%;
}

.product-left,
.product-right {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;

    @include tablet {
        padding: 20px;
    }
}

.product-left {
    text-align: right;
}

.quantity-label,
.quantity {
    display: inline-block;
}

.quantity-label {
    color: $color-grey;
    transform: translateY(-2px);
}

.quantity {
    width: 35px;
}

.demo-card-wide > .mdl-card__title {
    background: center / cover;
  }
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .demo-card-wide > .mdl-card__supporting-text{
      height: 126px;
  }

  .mdl-card__title-text{
    color: rgba(17, 13, 13, 0.952);
    font-size: 30px;
    font-weight: bold;
    outline-color: white;
  }

  .mdl-card__actions{
      margin: auto;
  }