<div class="container" *ngIf="product" itemscope itemtype="http://schema.org/Product">

</div>
<div class="demo-card-wide mdl-card mdl-shadow--2dp mx-auto">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text mx-auto" itemprop="name">{{product.title}}</h2>
  </div>
  <div class="mdl-card__media">
    <img [src]="product.thumbnail" *ngIf="product.thumbnail" class="featured-image" alt="{{product.title}}" itemprop="image">
    <img src="../../../assets/placeholder.jpg" *ngIf="!product.thumbnail" class="featured-image" alt="{{product.title}} "
      itemprop="image">
  </div>
  <div class="mdl-card__supporting-text">
    <meta itemprop="priceCurrency" content="USD" />

    <span class="mdl-chip">
      <span class="mdl-chip__text" itemprop="price"> {{product.price | currency: 'KES': 'code'}}</span>
    </span>
    <br>
    <p [innerHTML]="product.description | safeHtml" itemprop="description"></p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdc-button mdc-card__action mdc-card__action--button  mdc-button--raised" (click)="addToCart(product)">
      <span *ngIf="!globalCart || !globalCart[product.entityKey]">Add to</span>
      <span *ngIf="globalCart && globalCart[product.entityKey]">Update</span>
      <span> Cart</span>
    </button>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
<div [innerHtml]="jsonLDString" class="structured-data"></div>