.vendorheader{
    font-weight: 100;
    margin-top: 30px;
}
  .pizzacard{
      background-image: url("../../../assets/part/pizza.jpeg");
      background-size: cover;
   }
   .ribcard{
       background-image: url("../../../assets/part/ribs.jpg");
       background-size: cover;
   }
   .burgercard{
    background-image: url("../../../assets/part/PhillyCheesesteakBurger.png");
    background-size: cover;
}
.tacoscard{
    background-image: url("../../../assets/part/beef-tacos.jpg");
    background-size: cover;
}
.tatocard{
    background-image: url("../../../assets/part/potato-tater-tots.jpg");
    background-size: cover;
}
.fdipcard{
    background-image: url("../../../assets/part/famous-french-dip.jpg");
    background-size: cover;
}
.pastacard{
    background-image: url("../../../assets/part/pesto-chicken-pasta.jpg");
    background-size: cover;

}

.mdc-card__media-content{
    color: rgba(17, 13, 13, 0.952);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    outline-color: white;
}
.vendorcard{
    height: 400px;
     width: 100%;
}
.headergraphics{
    background-image: url("../../../assets/part/pizzamast.jpeg");
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}

blockquote{
    color: white;
    font-size: 45px;
    font-weight: 100;
    padding-left: 90px;
}
.mdc-top-app-bar{
    background-color: brown;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.prodcard {
    flex: 0 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}

::-webkit-scrollbar {
      display: none;
    }

.mdc-card__actions{
    margin: auto;
}
