@import url('https://fonts.googleapis.com/css?family=Assistant');



body, button, div, h1, h2, h3, h4, p{

    font-family: 'Assistant', sans-serif;
}
html, body { 
    height: 100%;
    margin: 0;
 }

h1, h2{
    font-weight: 400;
    line-height: 100%;
}
h3, h4, p{
    font-weight: 200;
}
